html,
body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding: 0;
  overflow-x: hidden;
}

@media (max-width: 900px) {
  html,
  body {
    background-size: 800px;
    background-repeat: repeat-y;
    overflow-x: hidden;
  }
}

@font-face {
  font-family: "typewriter_-_remington_riviRg";
  src: url("./fonts/remington__riviera__2007-webfont.woff2") format("woff2"),
    url("./fonts/remington__riviera__2007-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.homeHeading {
  text-align: center;
}

.card-body {
  background-color: rgba(0, 0, 0, 0) !important;
  border: 0px !important;
}

.mt-4 {
  color: #48726b;
}

.form-control {
  opacity: 0.6;
}

.col-md-6 {
  max-width: 500px;
}

.login {
  font-weight: 500;
}

.have-account {
  font-weight: 500;
}

/* pushing sign in form down in mobile view */
@media (max-width: 800px) {
  .container {
    padding-top: 7.5em;
  }
}

.login {
  margin-left: 0.5em;
  font-weight: bolder;
  font-size: x-large;
}

.needAccount {
  font-weight: bold;
  font-size: x-large;
}

.story {
  width: 30em;
  background-color: white;
  margin: auto;
  padding: 1em;
  border-radius: 0.2em;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1.3em;
  opacity: 0.7;
  z-index: 1;
  position: relative;
}

.storyPublish {
  width: 30em;
  background-color: white;
  margin: auto;
  padding: 1em;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1.3em;
  background: none;
}

.publishForm {
  width: 98%;
  height: 6em;
  opacity: 1;
  font-size: 1.2em;
  border-radius: 0.2em;
  opacity: 0.7;
  padding: 1em;
}

.publishFormAtt {
  margin: auto;
  text-align: center;
}

@media (max-width: 800px) {
  .publishFormAtt {
    font-size: 1em !important;
    width: 17em;
    margin: auto;
  }
}

@media (max-width: 800px) {
  .publishFormAtt {
    font-size: 1em !important;
    width: 20em;
  }
}

@media (max-width: 800px) {
  .storyPublish {
    font-size: 1em !important;
    width: 20em;
  }
}

.homeButton {
  color: cornsilk;
  font-size: 0.8em;
  background-color: black;
  width: 8em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  font-family: "typewriter_-_remington_riviRg";
  border-radius: 0.5em;
  font-size: 0.8em !important;
  text-decoration: none;
  opacity: 0.6;
}

@media (max-width: 800px) {
  .lead {
    font-size: 1em !important;
  }
}

@media (max-width: 800px) {
  .homeButton {
    font-size: 0.6em !important;
  }
}

@media (max-width: 800px) {
  .story {
    width: 14em;
  }
}

@media (max-width: 800px) {
  .homeHeading {
    font-size: 2.6em !important;
  }
}

.heading {
  text-align: center;
  margin-top: 14em;
}

.greeting {
  width: auto !important;
  font-weight: 900;
  float: right;
  padding-right: 2rem;
  margin-top: 1em;
  text-align: center;
  font-size: 1.5em;
  color: black;
}

/* iPhone SE */
@media (max-width: 600px) {
  .greeting {
    font-size: 2em;
    text-align: center;
    margin: auto;
    float: center;
    margin-top: 3em !important;
  }
}

.smallButton {
  background-color: rgb(167, 165, 165);
}

@media (max-width: 600px) {
  #greet {
    margin-top: 6em !important;
    /* margin-left: -8em; */
  }
}

.lead {
  margin-top: 0.5em !important;
}

@media (max-width: 900) {
  .lead {
    margin-top: 5em;
  }
}

@media (max-width: 900) {
  .hiddenButton {
    margin-top: -25em;
  }
}

@media (max-width: 900) {
  .formButton {
    -webkit-appearance: none !important;
  }
}
